*/check.cpp
*/*.o
*/exec
*/out1
*/out2
*/input2
*/output2
*/check
*/report/report.*
!*/report/report.pdf
!*/report/report.tex
*/testcases/*
*/test_cases/A2/*
*/a2
*/hello.txt
*/.vscode/c_cpp_properties.json
*/.vscode/settings.json
*/results/*
*/a2_parallel
*/test_cases/A3/*
Assignment3/a3
